.Container{
    width: 640px;
    margin: auto;
    margin-top: 50px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.Container hr{
    height: 2px;
    border: none;
    background: gray;
}

.Container h2{
    font-size: 27px;
    font-weight: 500;
}

.Container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.Container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: rgb(99, 0, 99);
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.Container .index{
    margin: auto;
    font-size: 18px;

}

.Container .Correct{
    background: rgba(2, 255, 2, 0.7);
    border-color: green;
}

.Container .Wrong{
    background: rgba(255, 0, 0, 0.7);
    border-color: rgba(112, 0, 0)
}